<header>
    <ng-sidebar-container>
        <ng-sidebar [opened]="opened">
            <!--- Sidebar  Content-->
            <p>Menu Lateral de Navegação</p>
            <button (click)="toggleSidebar()"> Fechar Menu Lateral</button>
            <ul class="menu">
                <li> <a routerLink="/create-employee"><button type="button" class="btn btn-success">Cadastrar Funcionário</button></a></li>
                <li> <a routerLink="/employees-list"><button type="button" class="btn btn-primary">Lista de Funcionários</button></a></li>
                <li> <a href=""><button type="button" class="btn btn-dark" (click)="logout()">Sair</button></a></li>
            </ul>
        </ng-sidebar>
        <div ng-sidebar-content>
            <!-- Page Header-->
            <button class="btn btn-primary active" (click)="toggleSidebar()">
                Abrir Menu Lateral
            </button>
            <!-- Page Body -->
            <router-outlet></router-outlet>
        </div>
    </ng-sidebar-container>



</header>
<section>
    <main class="container">
    </main>
</section>