/* FONT IMPORTED */

/* Fira Sans */
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
ng-sidebar-container{
    height: 100vh;
}
::ng-deep .ng-sidebar{
    background-color: #f4f4f4;
    width: 300px;
    padding: 2em 3em;
    box-shadow: 0 0 2.5em rgba(85,85,85, 0.5);
}

.menu {
    margin-top: 2em;
    display:block;
}

.menu li {
    margin-bottom: 15px;
}

.menu li a{
    display:block;
    width: 100%;
}

#container {
  width: 100%;
  display: inline-block;
}

/** HEADER */

/** NAVIGATION BAR */
/*
nav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  ul {
    text-align: center;
    list-style-type: none;
    list-style-type: none;
    margin: 0;
    padding: 15px;
    li {
      display: inline;
      font-family: "Fira Sans", sans-serif;
      font-size: 17px;
      a {
        color: #f2f2f2;
        text-decoration: none;
        padding: 14px;
        &:hover {
          background-color: #111;
        }
      }
    }
  }
}

.content {
  text-align: center;
}
*/